.parent {
  display: grid;
  grid-template-rows: 1fr 50px;
  height: 100%;
}

.chatAreaParent {
  position: relative;
}

.chatArea {
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: auto;
}

.chatBar {
  border-top: 1px solid whitesmoke;
  display: flex;
  align-items: center;
  padding: 10px;
}

.messageInput {
  flex: 1;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  padding: 5px;
}

.sendButton {
  border-radius: 5px;
  height: 100%;
  margin-left: 5px;
  padding: 0px 10px 0px 10px;
  background-color: mediumseagreen;
  cursor: pointer;
}
