.parent {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  height: 100px;
}

.chat {
  flex: 1;
  display: flex;
  position: relative;
}

.flex1 {
  flex: 1;
}

.chatSideBar {
  height: 100%;
  border-right: 1px solid whitesmoke;
  display: block;
}

.mobileChatWindow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
