.header {
  font-size: 2rem;
  height: 100%;
  grid-column: span 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  border-bottom: 1px solid whitesmoke;
}

.dropdownParent {
  cursor: pointer;
}

.dropdownBackground {
  background-color: rgba(255, 255, 255, 0.192);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.dropdownList {
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(36, 36, 36);
  border: 1px solid whitesmoke;
  z-index: 10;
}

.dropdownList li {
  font-size: 1.25rem;
  cursor: pointer;
}

.dropdownList li:hover {
  opacity: 0.5;
}
